* {
  margin: 0;
  padding: 0;
}


.stream-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stream {
  width: 500px;
  height: 300px;
  display: block;
  background: red;
}